{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Todolist{% endblock %}</title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <script src="//cdn.jsdelivr.net/jquery/2.2.3/jquery.min.js"></script>
    {% block head-javascript %}{% endblock %}
  </head>
  <body>
    <header>
          <div class="header clearfix">
            <nav>
              <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout'%}">logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}">login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'signup' %}">signup</a>
                </li>
                {% endif %}
              </ul>
            </nav>
            <h3 class="text-muted">Todolist</h3>
          </div>
      <!--<div class="row">
        <div class="col-md-10" style="text-align: center; background-color: pink">
          <h1>Ma Todolist</h1>
        </div>
        {% if user.is_authenticated %}
          <div class="col-md-2" style="background-color: #33B2FF">
            <a href="{% url 'logout' %}"><h1 style="text-align: center; color: white">logout</h1></a>
          {% else %}
            <a href="{% url 'login' %}">login</a> / <a href="{% url 'signup' %}">signup</a>
          {% endif %}
          </div>
        <hr>
      </div> -->
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>

</html>
