{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <h2 style="text-align: center">Welcome, {{ user.username }}!</h2>
  <div class="row">
    <div class="col-md-4" style="margin-left: 10%; text-align: center">
      <div><h2 class="title">High priority</h2>
      {% for field in high %}
          <p>
            <input type="checkbox" class="form-check-input">
            {{ field.title}}
          </p>
      {% endfor %}
      </div>

      <div><h2 class="title">Medium priority</h2>
        {% for field in medium %}
            <p>
              <input type="checkbox" class="form-check-input">
              {{ field.title}}
            </p>
        {% endfor %}
      </div>

      <div ><h2 class="title">Low priority</h2>
      {% for field in low %}
          <p>
            <input type="checkbox" class="form-check-input">
            {{ field.title}}
          </p>
      {% endfor %}
      </div>
      <div ><h2 class="title">Done</h2></div>
    </div>
    <div class="col-md-4" style="margin-left: 10%">
      <h2 class="title">Add a Todo</h2>
      <form action="" method="post">
        {% csrf_token %}
        <div class="row" style="width: 400px">{% crispy form %}</div>
      </form>
    </div>
  </div>
{% endblock %}
