{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

  <form method="post">
    {% csrf_token %}
<!--    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Sign up</button> -->
    <div class="login_container">
      <div class="col-md-6 center-block" style="float: none">
        <h2 style="text-align: center">Sign up</h2>
        <div class="row" style="width: 600px">{% crispy form %}</div>
      </div>
    </div>
  </form>

{% endblock %}
